<div class="container">
  <app-header
    imagePath="assets/LogoAlone.png"
    textBold="Pflanzen"
    text="zustand"
  ></app-header>
  <div class="vitals-container" *ngIf="plants">
    <div class="vital-item" *ngFor="let plant of plants">
      <span class="plant-name">{{plant.name}}</span>
      <div class="plant-status">
        <div class="status-item" *ngFor="let day of plant.days" (click)="openInfoDialog(day)">
          <img class="status-smiley" src="assets/status-smileys/Smiley_Positive.png" alt="Happy Smiley">
          <span>{{ day.name }}</span>
        </div>
      </div>
    </div>
  </div>
  <app-back-button routerLink="/home">
  </app-back-button>
</div>
