<div class="container">
  <app-header
    imagePath="assets/LogoAlone.png"
    textBold="Tipps"
    text=" fürs Gärtnern"
  ></app-header>
  <div class="tips-container">
    <div class="tips-grid-item" (click)="routeToInfo('tomato')">
      <img class="tips-image" src="assets/Tomato.png" alt="tomato"/>
      <div class="grid-item-text">Tomate</div>
    </div>
    <div class="tips-grid-item" (click)="routeToInfo('chili')">
      <img class="tips-image" src="assets/Chilli.png" alt="tomato"/>
      <div class="grid-item-text">Chili</div>
    </div>
    <div class="tips-grid-item" (click)="routeToInfo('aloe')">
      <img class="tips-image" src="assets/Aloe%20Vera.png"
           alt="tomato"/>
      <div class="grid-item-text">Aloe Vera</div>
    </div>
    <div class="tips-grid-item" (click)="routeToInfo('illness')">
      <img class="tips-image" src="assets/.png"
           alt="tomato"/>
      <div class="grid-item-text">Krankheit</div>
    </div>
    <div class="tips-grid-item" (click)="routeToInfo('fertilizer')">
      <img class="tips-image" src="assets/soil.png"
           alt="tomato"/>
      <div class="grid-item-text">Dünger</div>
    </div>
    <div class="tips-grid-item" (click)="routeToInfo('water')">
      <img class="tips-image" src="assets/watering.png"
           alt="tomato"/>
      <div class="grid-item-text">Wasserbedarf</div>
    </div>
  </div>
  <app-back-button class="tips-back-button" routerLink="/home"></app-back-button>
</div>
