.tips-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  padding-right: 100px;
  padding-left: 100px;
  padding-bottom: 60px;
}

.tips-grid-item {
  display: grid;
  grid-template-rows: minmax(0, 1fr) auto;
  align-content: start;
  border: 2px solid #89C839;
  background-color: white;
  transition: background-color 0.3s;
  overflow: hidden;
  max-height: 150px;
  justify-items: center;
}

.tips-image {
  padding: 20px;
  width: 30%;
  object-fit: cover;
}

.grid-item-text {
  padding: 20px;
}
