<div class="info-dialog">
  <div class="info-dialog-arrow"></div>
  <button mat-icon-button class="close-button" (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
  <p>Mit <b>"UpGarden"</b>, der interaktiven Gartenbox, wirst du zum coolen Garten-Profi.</p>

  <p>Berührst du eine <b>Pflanze</b> kurz an der Unterseite des <b>Holzblattes</b>, kannst du zwischen
    ihrer <b>Licht-, Bodenfeuchte- und Temperatur-Anzeige wechseln</b>.</p>

  <p><b>Gelbes Licht</b> zeigt dir, wie viel Sonnenlicht die Pflanze erhält, <b>Blau</b> den Feuchtigkeitsgehalt der
    Erde
    und <b>Grün</b>, wie viel Grad es in der Umgebung hat. <b>Rot</b> sagt aus, dass der Pflanze gar nicht gut geht.</p>

  <p>Kümmere dich regelmäßig um die Pflanze, indem du sie <b>gießt, düngst </b> und sicherstellst, dass sie sich nicht
    in einer
    zu kalten oder heißen Umgebung befindet.</p>

  <p> Spiele eines unserer lustigen <b>Pflanzen-Spiele</b>, um Wissenswertes über das Gärtnern zu lernen.</p>

  <p>Über die <b>Statistik</b> kannst du ablesen, wie es jeder Pflanze über die letzte Woche hinweg ging.
    Auf dem Infoboard findest du interessante Fakten zu den Pflanzen.
  </p>
</div>
