/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Manrope:300,400,500,600,800&display=swap');

body {
  margin: 0;
  font-family: Manrope, sans-serif;
  overflow:hidden;
}

html, body, app-root {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  width: 50px;
  height: 50px;
}

.header-wrapper {
  display: flex;
  align-items: center;
  padding-left: 5%;
  font-size: 2em;
}

.header-wrapper > * {
  padding: 10px;
}

.container {
  height: calc(100% - 20px);
  width: calc(100% - 40px);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-grid {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex: 1;
}

.grid-item {
  flex: 1 1 0;
  margin: 5% 15px 15px;
  background-color: #89C839;
  height: 100px;
  text-align: center;
  font-size: 1.5em;
  color: #ffffff; /* Change the font color to white */
  transition: background-color 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.grid-item:hover {
  background-color: #ddd;
}
