<div class="container">
  <div class="main-grid">
    <div class="header-wrapper">
      <img src="assets/LogoAlone.png" alt="" class="logo">
      <p class="title">Spiel wählen</p>
    </div>
    <div class="grid-item" (click)="navigateToGame('humidity')">Pflanzen verstehen lernen</div>
    <div class="grid-item" (click)="navigateToGame('multipleChoice')">Pflanzenquiz</div>
    <div class="grid-item" (click)="navigateToGame('order')">Pflanzen in Reihenfolge bringen</div>
  </div>
  <div class="button-container">
    <button mat-fab extended (click)="routeBack()">Zurück</button>
  </div>
</div>
<router-outlet></router-outlet>
