<div class="container">
  <app-header
    imagePath="assets/LogoAlone.png"
    textBold="Spiel"
    text=" wählen"
  ></app-header>
  <div class="main-grid">
    <div class="grid-item" (click)="navigateToGame('humidity')">Pflanzen verstehen lernen / Schätzen</div>
    <div class="grid-item" (click)="navigateToGame('multipleChoice')">Pflanzenquiz (= Multiple Choice)</div>
    <div class="grid-item" (click)="navigateToGame('order')">Pflanzen in Reihenfolge bringen</div>
  </div>
  <img class="smiley" src="assets/Smileys_test.png" alt="Bild mit Pflanzen Smileys">
  <app-back-button (click)="routeBack()"></app-back-button>
</div>
<router-outlet></router-outlet>
